.gist {
    max-width:768px;
    overflow:auto;
}

.gist .blob-wrapper.data {
    max-height:250px;
    overflow:auto;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #00266C;
}

@font-face {
    font-family: JostBlack;
    src: url(../fonts/Jost-Black.ttf);
}

@font-face {
    font-family: JostRegular;
    src: url(../fonts/Jost-Regular.ttf);
}

body {
    background-color: #00266C;
    font-family: JostRegular;
}

.content {
    background-color: rgba(255,255,255,0.75);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.class, .method, .object {
    font-family: JostBlack
}

h1, h2, h3, h4, .bold {
    font-family: JostBlack
}
