.gist {
    max-width:768px;
    overflow:auto;
}

.gist .blob-wrapper.data {
    max-height:250px;
    overflow:auto;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.title {
    background-color: #7D3271;
    color: #FFFFFF;
}

@font-face {
    font-family: JostBlack;
    src: url(../fonts/Jost-Black.ttf);
}

@font-face {
    font-family: JostRegular;
    src: url(../fonts/Jost-Regular.ttf);
}

body {
    font-family: JostRegular;
}

h1, h2, h3, h4, .bold {
    font-family: JostBlack
}
